.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 1.4rem;
    font-weight: $fw_bold;
    padding: 4rem 0;
    z-index: 10;
}

.nav {

    &__list {
        display: flex;
        padding: 0;
        margin: 0;
    }

    &__item {
        display: flex;
        align-items: center;
        padding-right: 2rem;
        text-transform: uppercase;

        &:last-child:after{
            display: none;
        }

        &:after {
            content: '';
            display: inline-block;
            margin-left: 2rem;
            width: 2rem;
            height: 1px;
            background: $c-border;
        }
    }

    &__link {
        font-size: 1.4rem;
        line-height: 1.28;
        font-weight: $fw_bold;
    }
}