section.sc.sc--dark.about
    .grid-container
        .grid-x.grid-margin-x
            .cell.medium-6.large-3
                .about__boxed 
                    span.d-block.vertical-text.tt-uppercase.small-text.fw-bold.p-b-8 Чому саме ми
                    h2.fw-normal.p-t-2 Про нас
                button.btn.btn--flat.m-t-3.w-100(data-bg-to-border data-fancybox data-src="#fancy-contact-us")
                    span Зв'язатися з нами
            .cell.medium-6.large-7.large-offset-1
                .lead-text
                    .lead-text__item
                        span.small-text Працюємо
                        span 7
                        span.small-text днів на тиждень
                    .lead-text__item
                        span.small-text Допоможемо з
                        span Юридичними
                        span.small-text питаннями
                .about__text
                    p Ми команда юристів та адвокатів, що мають величезний досвід роботи в сфері надання правової допомоги. Наші фахівці працювали в судах, виконавчій службі, а також в провідних юридичних фірмах України. Саме тому за довгі роки роботи ми освоїли високі стандарти якості послуг і чудово розуміємо, на що очікують наші клієнти, і найголовніше – ми здатні це забезпечити.
                    p Ми цінуємо наших клієнтів і нам не все одно, вирішиться проблема клієнта чи ні. І тому ми щиро радіємо, коли ви задоволені.
                    p Надаючи послуги якості топових юридичних фірм, ми не женемося за надмірними гонорарами. Ми прагнемо бути фінансово доступними для клієнтів навіть у найскладніших справах.


