.welcome
    .welcome__bg
    .welcome__logo.logo
        .logo__box
            img(src="./public/icons/logo.svg", alt="ulegal logo")
    .grid-container.h-100
        .welcome__center
            h1.welcome__title Надаємо якісні юридичні послуги в Броварах та Києві